<!-- nav -->

<nav class="navbar navbar-expand navbar-dark bg-dark"  *ngIf="currentUser">
    <div class="navbar-nav" style="width: 100%;justify-content: space-between;">
        <div class="logo">
        <a class="nav-item nav-link" routerLink="/"><img src="favicon.ico" width="30px" height="30px" class = "mr-2">SongCal</a>
       </div>
        <div class="logout">
         <button mat-button [matMenuTriggerFor]="menu">Hi,{{currentUser.firstName}}</button>
        <mat-menu #menu="matMenu" yPosition="above">
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
        <!-- (click)="logout()" -->
        
         <!-- <mat-form-field>
        <mat-label>Hi,{{currentUser.firstName}}</mat-label>
        <mat-select>
          <mat-option (click)="logout()">
           Logout
          </mat-option>
        </mat-select>
    </mat-form-field> -->
</div>
    </div>
</nav>

<!-- main app container -->
<div class="container">
    <router-outlet></router-outlet>
</div>

